.tags {
  display: flex;
  .tag {
    padding: 0 22px;
    height: 25px;
    background-color: #ff6060;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: unset;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .tags {
    .tag {
      padding: 0 22px;
      font-size: 10px;
      margin-right: 10px;
      height: 18px;
    }
  }
}
