.star {
  display: flex;
  .star-image {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .star {
    .star-image {
      margin-right: 5px;
      .pink-star {
        height: 15px;
      }
      .gray-star {
        height: 15px;
      }
    }
  }
}
