.accordion {
  display: flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}

.accordion-btn {
  display: flex;
  background-color: #ff6060;
  height: 47px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  z-index: 1;
  .accordion-title {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin-left: 18px;
  }
  .accordion-image {
    margin-right: 32px;
    width: 23px;
  }
}

.accordion-menu {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 30px 27px 10px 27px;
  margin-top: -10px;
  .accordion-description {
    margin: unset;
    font-weight: 400;
    font-size: 24px;
    color: #ff6060;
  }
}

@media (max-width: 768px) {
  .accordion {
    margin-bottom: 20px;
  }

  .accordion-btn {
    height: 30px;
    .accordion-title {
      font-size: 13px;
    }
    .accordion-image {
      width: 15px;
      margin-right: 7px;
    }
  }

  .accordion-menu {
    padding: 18px 12px 52px 12px;
    .accordion-description {
      font-size: 12px;
    }
  }
}
