.error-number {
  text-align: center;
  font-weight: 700;
  font-size: 288px;
  color: #ff6060;
  margin: unset;
  margin-top: 175px;
}

.error-text {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin: unset;
  margin-top: 66px;
}

.error-link {
  display: block;
  text-align: center;
  color: #ff6060;
  text-decoration-line: underline;
  margin-top: 182px;
  margin-bottom: 159px;
}

@media (max-width: 768px) {
  .error-number {
    font-size: 96px;
  }

  .error-text {
    font-size: 18px;
    margin-top: 15px;
  }

  .error-link {
    font-size: 14px;
    margin-top: 133px;
  }
}
